/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
*/

/* Estilos principais Mirror Fashion ========= */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* #region header */

header {
    padding: 10px 0;
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.sacola {
    /* 
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: center right;
    */

    background: url(../img/sacola.png) 100% 50% no-repeat;
    margin-left: auto;
    padding-right: 38px;
    position: absolute;
    right:0;
    text-align: right;
    top: 20px;
    width: 220px;
}

.menu-opcoes {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.menu-opcoes a {
    color: #333;
    text-decoration: none;
    padding: 0 10px;
}

/* #endregion header */

/* #region home */
.busca,
.menu-departamentos {
    background-color: #ddd;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 255px;
}

.busca h2,
.menu-departamentos h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.busca input {
    border: 1px solid #999;
    font-size: 18px;
    width: 180px;
}

.menu-departamentos {
    clear: left;
}

.menu-departamentos li {
    margin-bottom: 5px;
}

.menu-departamentos a {
    background-color: white;
    color: rgb(22, 83, 68);
    display: block;
    padding: 10px;
    font-variant: small-caps;
    text-decoration: none; /* tira o sublinhado dos links */
    transition: background 2s linear;
}

.menu-departamentos li > ul {
    border: 4px solid blueviolet;
    display: none;
}

.menu-departamentos li:hover > ul {
    display: block;
}

.menu-departamentos li:hover a {
    background-color: gold;
    color: red;
}

.menu-departamentos li > ul a::before {
    content: '- ';
}

/* .menu-departamentos li a::after {
    content: ':)'
} */

/* main {
    border: 4px solid blue;
} */

.banner figure {
    /* border: 4px solid gold; */
    margin-left: auto;
    width: 75%;
}

.banner img {
    /* border: 4px solid green; */
    width: 100%;
}

.banner figcaption {
    padding: 10px;
    text-align: center;
}

.paineis {
    display: flex;
    justify-content: space-between;
}

.painel {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5),
                5px 5px 10px rgba(0,0,0,.5) inset;

    background: radial-gradient(ellipse at center, #febbbb 0%,#fe9090 45%,#ff5c5c 100%);

    padding: 15px;
    width: 49.5%;
}

.painel h2 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    text-transform: uppercase;

    text-shadow: 1px 1px 1px rgba(255,255,255,.8);
}

.painel ol {
    display: flex;
    flex-wrap: wrap;
}

.painel li {
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 33.3%;
    word-wrap: break-word; /* força a quebra da palavra caso ela seja muito grande */
    transition: 1s ease-in;
}

.painel li:hover {
    transform: rotate(10deg) scale(1.2) translateY(-20px);
}

.painel li:nth-child(even):hover {
    transform: rotate(-10deg) scale(1.2) translateY(-20px);
}

.painel a {
    color: black;
    text-decoration: none;
}

.painel img {
    margin-bottom: 10px;
}

/* #endregion home */

/* #region footer */

footer {
    background: url(../img/fundo-rodape.png); 
    margin-top: 30px;
    padding: 30px 0;
}

footer .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer .redes-sociais ul {
    display: flex;
    justify-content: space-between;
}

footer .redes-sociais a {
    background-size: 100%;
    display: block;
    color: transparent;
    margin: 0 10px;
    height: 64px;
    text-indent: -9999999999px;
    width: 64px;
}

footer [href*="facebook.com"]{
    background-image: url(../img/facebook.svg);
}

footer [href*="twitter.com"]{
    background-image: url(../img/twitter.svg);
}

footer [href*="google.com"]{
    background-image: url(../img/googleplus.svg);
}
/* #endregion footer */
/* #region mobile */

/* até 680px */
@media (max-width: 1200px) {

    .container {
        width: 96%;
    }

    .menu-opcoes,
    header h1 {
        text-align: center;
    }

    .sacola {
        background-color: rgba(255,255,255,.9);
        min-height: 60px;
        width: 60px;
    }

    .sacola span {
        display: none;
    }

    .sacola:hover {
        box-shadow: 10px 10px 10px rgba(0,0,0,.5);
        border-radius: 6px;
        border: 4px solid salmon;
        padding-top: 6px;
        width: 220px;
    }

    .sacola:hover span {
        display: block;
    }

    .menu-opcoes {
        position: static;
    }

    .banner figure {
        margin-left: inherit;
    }

    .paineis {
        display: block;
    }

    .painel img,
    .banner figure,
    .busca,
    .menu-departamentos,
    .painel {
        width: 100%;
    }

    footer .redes-sociais a {
        margin: 0;
        height: 48px;
        width: 48px;
    }
} /* fim media 680px */

/* a partir de 646px e até 1200px*/
@media (min-width: 646px) and (max-width: 1200px) {
    .menu-departamentos ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .menu-departamentos li {
        width: 49%;
    }
}
/* #endregion mobile */

/* #region produto */
.produto h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
}

.produto h1 + p {
    font-style: italic;
}

.produto legend {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.cores {
    margin-top: 30px;
    position: relative;
    padding-top: 65px;
}

.cores img {
    display: none;
    max-width: 100%;
}

.cores input:checked + img {
    display: inline-block;
}

.cores label {
    display: block;
}

.cores label::before {
    border-radius: 50%;
    content: '';
    cursor: pointer;
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 25px;
}

.cores label[for=rosa]::before {
    background-color: pink;
    left: 14px;
}

.cores label[for=azul]::before {
    background-color: aqua;
    left: 75px;
}

.cores label[for=verde]::before {
    background-color: greenyellow;
    left: 135px;
}

/* quando input checar o irmao :before fica com borda */
.cores input:checked + ::before {
    border: 3px solid black;
}

/* quando clica a cor fica vermelho */
.cores label:active::before{
    background-color: red;
}

.cores input {
    display: none;
}

.tamanhos {
    margin-top: 20px;
}

.comprar {
    font-size: 22px;
    text-transform: uppercase;
    background-color: rgb(173, 255, 47);
    padding: 15px 30px;
    border: 0;
    border-radius: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    color: darkgreen;
    margin: 30px auto;
    display: block;
    cursor: pointer;
}

.detalhes h2 {
    font-size: 26px;
    margin-bottom: 22px;
}

.detalhes p {
    line-height: 26px;
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}

.detalhes table {
    border-collapse: separate;
    border-spacing: 5px;
}

.detalhes th {
    background-color: royalblue;
    color: white;
}

.detalhes td {
    background-color: salmon;
}

.detalhes th,
.detalhes td {
    padding: 8px 10px;
}

@media (min-width: 1008px){

    .produto {
        padding-left: 40%;
        position: relative;
        margin: 20px 0;
    }

    .produto .cores,
    .produto .cores label::before {
        position: static;
    }

    .produto .cores {
        padding-top: 0;
    }

    .produto .cores img {
        position: absolute;
        top: 0;
        left: 30px;
        border: 2px solid #ccc;
        height: 100%;
    }

    .produto .cores label {
        display: inline-block;
    }

    .produto form {
        display: flex;
        flex-wrap: wrap;
    }

    .produto fieldset {
        width: 50%;
    }

    .produto .tamanhos {
        margin-top: 30px;
    }

    .produto .tamanhos legend {
        margin-bottom: 25px;
    }

}



/* #endregion produto */